.new-project-form {
    display: flex;
    flex-direction: column;
}

.priority-fieldset {
    display: flex;
    flex-direction: row;
}

.projects-list-header,
.project-card,
.project-card-text-container {
    display: flex;
}

.project-card {
    background-color: aquamarine;
    justify-content: space-between;
}

.project-card:hover {
    background-color: bisque;
}

.projects-list-header {
    align-items: stretch;
    justify-content: space-evenly;
}