.new-project-form {
    display: flex;
    flex-direction: column;
}

.priority-fieldset {
    display: flex;
    flex-direction: row;
}

.projects-list-header,
.project-card {
    display: flex;
}

.projects-list-header {
    align-items: stretch;
    justify-content: space-evenly;
}